body { 
	position: relative;
	}
	
.menu-link { padding-top: 70px; }

input.ng-invalid.ng-dirty {
   background-color: #FAE6E6;
}

input.ng-valid.ng-dirty {
   background-color: #F2FFF2;
}

.error-text {
   color: red;
}

.hint-text {
   color: gray;
}