<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div ng-controller="shopHelper as shop"class="container">
  <h1>Shop Helper</h1>
  
  <h2>What are your shopping needs?</h2>
  <form name="listMaker" ng-controller="userInput" ng-submit="">
    <h3>Budget</h3>
    <input ng-model="" type="text" name="budget">
    </br></br>
    <select name="options" ng-model="">
      <option>Food</option>
      <option>Clothing</option>
      <option>Party</option>
    </select>
    </br></br>
    <button class="btn btn-default btn-lg" type="submit">Submit</button>
  </form>
  
  <h2>Your List:</h2>
  <ul>
    <li ng-repeat="item in items">{{item.itemName}} {{stock.setItemPrice}} {{store.storeName}} {{store.storeStreet}} {{store.storeZip}}</li>
  </ul>
  <h3>{{}}</h3>
  
</div>
</body>
</html>
