body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color:#fff;
  background-image:url('lined_paper_@2X.png');
  padding-top: 70px; 
}

h1, h2, h3 {
  font-family: 'Quicksand', sans-serif;
}

.navbar {
  background-color:#5af;
  color:#fff;
}

.btn {
  background-color:#5af;
  color:#fff;
}

.navbar ul {
  padding-left: 30px;
}

.navbar li {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}
